snippet einar "Name" b
Einar Jahaziel Cabrera Amador
endsnippet

snippet #! "open with" b
#!/usr/bin/$0
endsnippet

snippet email.yahoo "my email" b
einn.o@yahoo.com
endsnippet

snippet comment "comment" b
* Title:$1
* Autor:`whoami`
* Date:`date`
* Desc:$2
endsnippet

snippet calcDiff "derivada" b
qalc +u8 diff "$1"
endsnippet

snippet calcInte "integral" b
qalc +u8 integrate "$1"
endsnippet

snippet calcAlg "algebra" b
qalc +u8 "$1"
endsnippet
